.chzn-container {
	POSITION: relative; ZOOM: 1; DISPLAY: inline-block; FONT-SIZE: 13px
}
.chzn-container .chzn-drop {
	Z-INDEX: 999; BORDER-BOTTOM: rgb(170,170,170) 1px solid; POSITION: absolute; BORDER-LEFT: rgb(170,170,170) 1px solid; BACKGROUND-COLOR: rgb(255,255,255); BORDER-TOP-WIDTH: 0px; BORDER-RIGHT: rgb(170,170,170) 1px solid; TOP: 29px; LEFT: 0px; -webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0px 4px 5px; box-shadow: rgba(0, 0, 0, 0.14902) 0px 4px 5px
}
.chzn-container-single .chzn-single {
	BORDER-BOTTOM: rgb(170,170,170) 1px solid; POSITION: relative; BORDER-LEFT: rgb(170,170,170) 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 26px; BACKGROUND-COLOR: rgb(255,255,255); PADDING-LEFT: 8px; PADDING-RIGHT: 0px; DISPLAY: block; WHITE-SPACE: nowrap; HEIGHT: 26px; COLOR: rgb(68,68,68); OVERFLOW: hidden; BORDER-TOP: rgb(170,170,170) 1px solid; BORDER-RIGHT: rgb(170,170,170) 1px solid; TEXT-DECORATION: none; PADDING-TOP: 0px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -webkit-background-clip: padding-box; background-clip: padding-box
}
.chzn-container-single .chzn-single SPAN {
	TEXT-OVERFLOW: ellipsis; DISPLAY: block; WHITE-SPACE: nowrap; OVERFLOW: hidden; MARGIN-RIGHT: 26px
}
.chzn-container-single .chzn-single DIV {
	POSITION: absolute; BORDER-LEFT: rgb(170,170,170) 1px solid; BACKGROUND-COLOR: rgb(204,204,204); WIDTH: 18px; DISPLAY: block; HEIGHT: 100%; RIGHT: 0px; TOP: 0px; border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px; -webkit-background-clip: padding-box
}
.chzn-container-single .chzn-single DIV B {
	BACKGROUND-IMAGE: url(http://monitor.pleer.ru/i/chosen-sprite.png); WIDTH: 100%; DISPLAY: block; BACKGROUND-POSITION: 0px 1px; HEIGHT: 100%
}
.chzn-container-single .chzn-search {
	PADDING-BOTTOM: 3px; MARGIN: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; WHITE-SPACE: nowrap; PADDING-TOP: 3px
}
.chzn-container-single .chzn-search INPUT {
	BACKGROUND-IMAGE: url(http://monitor.pleer.ru/i/chosen-sprite.png%29, -webkit-gradient%28linear, 0% 100%, 0% 0%, color-stop%280.85, white%29, color-stop%280.99, rgb%28238, 238, 238%29%29); BORDER-BOTTOM: rgb(170,170,170) 1px solid; BORDER-LEFT: rgb(170,170,170) 1px solid; PADDING-BOTTOM: 4px; MARGIN: 1px 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: rgb(0,0,0); PADDING-LEFT: 5px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 20px; BACKGROUND-REPEAT: no-repeat; FONT-FAMILY: sans-serif; BACKGROUND-POSITION: 100% -20px; FONT-SIZE: 1em; BORDER-TOP: rgb(170,170,170) 1px solid; BORDER-RIGHT: rgb(170,170,170) 1px solid; PADDING-TOP: 4px; background-clip: initial, initial; background-origin: initial, initial; background-size: initial, initial
}
.chzn-container-single .chzn-drop {
	border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; -webkit-background-clip: padding-box; background-clip: padding-box
}
.chzn-container-multi .chzn-choices {
	BORDER-BOTTOM: rgb(170,170,170) 1px solid; POSITION: relative; BORDER-LEFT: rgb(170,170,170) 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: rgb(255,255,255); MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: auto !important; OVERFLOW: hidden; BORDER-TOP: rgb(170,170,170) 1px solid; CURSOR: text; BORDER-RIGHT: rgb(170,170,170) 1px solid; PADDING-TOP: 0px
}
.chzn-container-multi .chzn-choices LI {
	LIST-STYLE-TYPE: none; FLOAT: left
}
.chzn-container-multi .chzn-choices .search-field {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; WHITE-SPACE: nowrap; PADDING-TOP: 0px
}
.chzn-container-multi .chzn-choices .search-field INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: transparent; MARGIN: 1px 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: rgb(0,0,0); PADDING-LEFT: 5px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 5px; COLOR: rgb(102,102,102); BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 5px; -webkit-box-shadow: none; box-shadow: none
}
.chzn-container-multi .chzn-choices .search-field .default {
	COLOR: rgb(153,153,153)
}
.chzn-container-multi .chzn-choices .search-choice {
	BORDER-BOTTOM: rgb(180,180,180) 1px solid; POSITION: relative; BORDER-LEFT: rgb(180,180,180) 1px solid; PADDING-BOTTOM: 3px; LINE-HEIGHT: 13px; BACKGROUND-COLOR: rgb(228,228,228); MARGIN: 3px 0px 3px 5px; PADDING-LEFT: 6px; PADDING-RIGHT: 19px; COLOR: rgb(51,51,51); BORDER-TOP: rgb(180,180,180) 1px solid; BORDER-RIGHT: rgb(180,180,180) 1px solid; PADDING-TOP: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px; -webkit-background-clip: padding-box; background-clip: padding-box
}
.chzn-container-multi .chzn-choices .search-choice SPAN {
	CURSOR: default
}
.chzn-container-multi .chzn-choices .search-choice-focus {
	BACKGROUND-COLOR: rgb(212,212,212)
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
	BACKGROUND-IMAGE: url(http://monitor.pleer.ru/i/chosen-sprite.png); POSITION: absolute; WIDTH: 8px; DISPLAY: block; BACKGROUND-POSITION: 100% 0%; HEIGHT: 9px; FONT-SIZE: 1px; RIGHT: 5px; TOP: 6px
}
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
	BACKGROUND-POSITION: 100% -9px
}
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
	BACKGROUND-POSITION: 100% -9px
}
.chzn-container .chzn-results {
	POSITION: relative; PADDING-BOTTOM: 0px; OVERFLOW-X: hidden; OVERFLOW-Y: auto; MARGIN: 0px 4px 4px 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 0px; MAX-HEIGHT: 190px; PADDING-TOP: 0px
}
.chzn-container-multi .chzn-results {
	PADDING-BOTTOM: 0px; MARGIN: -1px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.chzn-container .chzn-results LI {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 80%; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 7px; PADDING-RIGHT: 7px; PADDING-TOP: 7px
}
.chzn-container .chzn-results .active-result {
	CURSOR: pointer
}
.chzn-container .chzn-results .highlighted {
	BACKGROUND-COLOR: rgb(56,117,215); COLOR: rgb(255,255,255)
}
.chzn-container .chzn-results LI EM {
	BACKGROUND-COLOR: rgb(254,255,222); FONT-STYLE: normal
}
.chzn-container .chzn-results .highlighted EM {
	BACKGROUND-COLOR: transparent
}
.chzn-container .chzn-results .no-results {
	BACKGROUND-COLOR: rgb(244,244,244)
}
.chzn-container .chzn-results .group-result {
	COLOR: rgb(153,153,153); CURSOR: default; FONT-WEIGHT: bold
}
.chzn-container .chzn-results .group-option {
	PADDING-LEFT: 20px
}
.chzn-container-multi .chzn-drop .result-selected {
	DISPLAY: none
}
.chzn-container-active .chzn-single {
	BORDER-BOTTOM: rgb(88,151,251) 1px solid; BORDER-LEFT: rgb(88,151,251) 1px solid; BORDER-TOP: rgb(88,151,251) 1px solid; BORDER-RIGHT: rgb(88,151,251) 1px solid; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 5px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 5px
}
.chzn-container-active .chzn-single-with-drop {
	BORDER-BOTTOM: rgb(170,170,170) 1px solid; BORDER-LEFT: rgb(170,170,170) 1px solid; BACKGROUND-COLOR: rgb(238,238,238); BORDER-TOP: rgb(170,170,170) 1px solid; BORDER-RIGHT: rgb(170,170,170) 1px solid; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; -webkit-box-shadow: rgb(255, 255, 255) 0px 1px 0px inset; box-shadow: rgb(255, 255, 255) 0px 1px 0px inset
}
.chzn-container-active .chzn-single-with-drop DIV {
	BACKGROUND-COLOR: transparent; BORDER-LEFT-STYLE: none
}
.chzn-container-active .chzn-single-with-drop DIV B {
	BACKGROUND-POSITION: -18px 1px
}
.chzn-container-active .chzn-choices {
	BORDER-BOTTOM: rgb(88,151,251) 1px solid; BORDER-LEFT: rgb(88,151,251) 1px solid; BORDER-TOP: rgb(88,151,251) 1px solid; BORDER-RIGHT: rgb(88,151,251) 1px solid; -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 5px; box-shadow: rgba(0, 0, 0, 0.298039) 0px 0px 5px
}
.chzn-container-active .chzn-choices .search-field INPUT {
	COLOR: rgb(17,17,17) !important
}
.chzn-rtl {
	TEXT-ALIGN: right; DIRECTION: rtl
}
.chzn-rtl .chzn-single {
	PADDING-LEFT: 0px; PADDING-RIGHT: 8px
}
.chzn-rtl .chzn-single SPAN {
	MARGIN-LEFT: 26px; MARGIN-RIGHT: 0px
}
.chzn-rtl .chzn-single DIV {
	BORDER-LEFT-STYLE: none; RIGHT: auto; BORDER-RIGHT: rgb(170,170,170) 1px solid; LEFT: 0px; border-top-left-radius: 4px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 4px
}
.chzn-rtl .chzn-choices LI {
	FLOAT: right
}
.chzn-rtl .chzn-choices .search-choice {
	PADDING-BOTTOM: 3px; MARGIN: 3px 5px 3px 0px; PADDING-LEFT: 19px; PADDING-RIGHT: 6px; PADDING-TOP: 3px
}
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
	BACKGROUND-POSITION: 100% 0%; RIGHT: auto; LEFT: 5px
}
.chzn-container-single .chzn-results {
	PADDING-LEFT: 0px; PADDING-RIGHT: 4px; MARGIN-LEFT: 4px; MARGIN-RIGHT: 0px
}
.chzn-rtl .chzn-results .group-option {
	PADDING-LEFT: 0px; PADDING-RIGHT: 20px
}
.chzn-container-active .chzn-single-with-drop DIV {
	BORDER-RIGHT-STYLE: none
}
.chzn-rtl .chzn-search INPUT {
	BACKGROUND-IMAGE: url(http://monitor.pleer.ru/i/chosen-sprite.png%29, -webkit-gradient%28linear, 0% 100%, 0% 0%, color-stop%280.85, white%29, color-stop%280.99, rgb%28238, 238, 238%29%29); PADDING-BOTTOM: 4px; PADDING-LEFT: 20px; PADDING-RIGHT: 5px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -38px -20px; PADDING-TOP: 4px; background-clip: initial, initial; background-origin: initial, initial; background-size: initial, initial
}
