DIV.gc_layer {
	BORDER-BOTTOM: black 1px dotted; POSITION: absolute; BORDER-LEFT: black 1px dotted; PADDING-BOTTOM: 5px; OVERFLOW-Y: scroll; BACKGROUND-COLOR: rgb(254,255,153); MIN-HEIGHT: 400px; PADDING-LEFT: 5px; WIDTH: 700px; PADDING-RIGHT: 5px; MAX-HEIGHT: 700px; MARGIN-LEFT: -350px; BORDER-TOP: black 1px dotted; BORDER-RIGHT: black 1px dotted; PADDING-TOP: 5px; LEFT: 50%
}
DIV.gc_closer_layer {
	BORDER-BOTTOM: black 1px dashed; POSITION: absolute; BORDER-LEFT: black 1px dashed; BACKGROUND-COLOR: red; WIDTH: 20px; HEIGHT: 20px; MARGIN-LEFT: 365px; OVERFLOW: hidden; BORDER-TOP: black 1px dashed; BORDER-RIGHT: black 1px dashed; LEFT: 50%
}
DIV.gc_layer FIELDSET {
	PADDING-BOTTOM: 10px; MARGIN-TOP: 15px; PADDING-LEFT: 10px; WIDTH: 620px; PADDING-RIGHT: 10px; MARGIN-LEFT: 20px; PADDING-TOP: 10px
}
DIV.gc_layer FIELDSET.gc_row0 {
	BACKGROUND-COLOR: rgb(255,255,204)
}
DIV.gc_layer FIELDSET.gc_row1 {
	BACKGROUND-COLOR: rgb(229,255,204)
}
DIV.gc_layer FIELDSET LEGEND {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: rgb(255,102,102); PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FONT-FAMILY: Verdana, 'Courier New'; COLOR: white; FONT-SIZE: 11px; FONT-WEIGHT: bold; PADDING-TOP: 1px
}
DIV.gc_layer FIELDSET.gcfeditor {
	TEXT-ALIGN: center; BACKGROUND-COLOR: rgb(255,179,102)
}
DIV.gc_layer FIELDSET.gcfeditor TEXTAREA {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BACKGROUND-COLOR: rgb(238,238,238); WIDTH: 620px; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid
}
DIV.gc_layer FIELDSET.gcfeditor BUTTON {
	BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid; BACKGROUND-COLOR: rgb(238,238,238); WIDTH: 620px; BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid
}
DIV.gc_layer FIELDSET.gcfeditor TEXTAREA {
	HEIGHT: 50px; OVERFLOW: auto
}
.wysiwyg_div_gc_texteditor {
	TEXT-ALIGN: center
}
