FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; PADDING-TOP: 0px
}
HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; PADDING-TOP: 0px
}
TABLE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px; PADDING-TOP: 0px
}
STRONG {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 11px
}
.c {
	CURSOR: pointer
}
.smenu {
	BORDER-BOTTOM: rgb(102,102,102) 1px solid; BORDER-LEFT: rgb(102,102,102) 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: rgb(0,0,0); FONT-SIZE: 11px; BORDER-TOP: rgb(102,102,102) 1px solid; BORDER-RIGHT: rgb(102,102,102) 1px solid
}
A {
	COLOR: black
}
A:visited {
	COLOR: black
}
A:hover {
	COLOR: green; TEXT-DECORATION: underline
}
.text {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 12px
}
.small {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 11px
}
.medium {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; COLOR: black; FONT-SIZE: 11px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.red {
	COLOR: rgb(255,0,0); FONT-WEIGHT: bold
}
INPUT {
	BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-LEFT: rgb(204,204,204) 1px solid; BACKGROUND-COLOR: rgb(251,251,251); FONT-FAMILY: Verdana; COLOR: rgb(0,0,0); FONT-SIZE: 11px; BORDER-TOP: rgb(204,204,204) 1px solid; BORDER-RIGHT: rgb(204,204,204) 1px solid
}
TEXTAREA.likeinput {
	BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-LEFT: rgb(204,204,204) 1px solid; BACKGROUND-COLOR: rgb(251,251,251); FONT-FAMILY: Verdana; COLOR: rgb(0,0,0); FONT-SIZE: 11px; BORDER-TOP: rgb(204,204,204) 1px solid; BORDER-RIGHT: rgb(204,204,204) 1px solid
}
TEXTAREA.likeinput {
	MARGIN: 2px
}
.big {
	FONT-FAMILY: Arial, Helvetica, sans-serif; COLOR: rgb(0,51,153); FONT-SIZE: 14px
}
#bar {
	Z-INDEX: 50; BORDER-BOTTOM: rgb(224,224,224) 2px outset; MIN-WIDTH: 760px; BORDER-LEFT: rgb(224,224,224) 2px outset; PADDING-BOTTOM: 5px; BACKGROUND-COLOR: rgb(242,242,242); PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; COLOR: rgb(0,51,102); BORDER-TOP: rgb(224,224,224) 2px outset; BORDER-RIGHT: rgb(224,224,224) 2px outset; PADDING-TOP: 4px
}
#bar A {
	COLOR: rgb(0,0,0); CURSOR: pointer; TEXT-DECORATION: none
}
#bar A:hover {
	BACKGROUND-COLOR: rgb(221,255,221); COLOR: rgb(0,0,0)
}
.button {
	BORDER-BOTTOM: rgb(51,51,51) 1px outset; BORDER-LEFT: rgb(51,51,51) 1px outset; PADDING-BOTTOM: 2px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP: rgb(51,51,51) 1px outset; MARGIN-RIGHT: 2px; BORDER-RIGHT: rgb(51,51,51) 1px outset; PADDING-TOP: 2px
}
.sub {
	POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: rgb(153,153,153) 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: rgb(153,153,153); MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 19em; PADDING-RIGHT: 0px; BORDER-BOTTOM-WIDTH: 0px; VISIBILITY: hidden; COLOR: rgb(255,255,255); BORDER-TOP: rgb(153,153,153) 1px solid; BORDER-RIGHT: rgb(153,153,153) 1px solid; PADDING-TOP: 0px
}
HR {
	HEIGHT: 1px; COLOR: rgb(230,230,230)
}
.highlight {
	BACKGROUND-COLOR: rgb(157,255,167)
}
A.info {
	Z-INDEX: 24; POSITION: relative; TEXT-DECORATION: underline
}
A.info:hover {
	Z-INDEX: 25; BACKGROUND-COLOR: rgb(255,255,0)
}
A.info SPAN {
	DISPLAY: none; TEXT-DECORATION: none
}
A.info:hover SPAN {
	BORDER-BOTTOM: rgb(153,0,0) 2px solid; POSITION: absolute; BORDER-LEFT: rgb(153,0,0) 2px solid; BACKGROUND-COLOR: rgb(255,255,255); WIDTH: 15em; DISPLAY: block; COLOR: rgb(0,0,0); BORDER-TOP: rgb(153,0,0) 2px solid; BORDER-RIGHT: rgb(153,0,0) 2px solid; TOP: -2em; LEFT: 2em
}
.tabpanel {
	BORDER-BOTTOM: rgb(20,67,90) 2px solid; BORDER-LEFT: rgb(20,67,90) 1px solid; PADDING-BOTTOM: 11px; BACKGROUND-COLOR: rgb(255,255,255); MARGIN-TOP: 4px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px; BORDER-TOP: rgb(20,67,90) 1px solid; BORDER-RIGHT: rgb(20,67,90) 2px solid; PADDING-TOP: 11px
}
.tabs TH {
	BORDER-LEFT: rgb(255,255,255) 1px solid; BACKGROUND-COLOR: rgb(221,221,221); COLOR: rgb(255,255,255); FONT-SIZE: 11px; BORDER-RIGHT: rgb(51,51,51) 1px solid
}
.desc {
	BORDER-LEFT: rgb(255,255,255) 1px solid; BACKGROUND-COLOR: rgb(245,245,245); FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: rgb(204,0,0); FONT-SIZE: 11px; BORDER-RIGHT: rgb(51,51,51) 1px solid
}
.tabs TD {
	BORDER-BOTTOM: rgb(255,255,255) 1px solid; BORDER-LEFT: rgb(255,255,255) 1px solid; BACKGROUND-COLOR: rgb(153,153,153); FONT-SIZE: 11px; BORDER-RIGHT: rgb(255,255,255) 1px solid
}
.tabs {
	BORDER-BOTTOM: rgb(221,221,221) 6px solid
}
.tabs TH {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: rgb(85,85,85); PADDING-TOP: 4px
}
.tabs TH A:link {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: rgb(85,85,85); PADDING-TOP: 4px
}
.tabs TH A:visited {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: rgb(85,85,85); PADDING-TOP: 4px
}
.tabs TD {
	TEXT-ALIGN: center; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: rgb(255,255,255); PADDING-TOP: 4px
}
.tabs TD A:link {
	TEXT-ALIGN: center; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: rgb(255,255,255); PADDING-TOP: 4px
}
.tabs TD A:visited {
	TEXT-ALIGN: center; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: rgb(255,255,255); PADDING-TOP: 4px
}
.tabs A {
	FONT-SIZE: 11px; TEXT-DECORATION: none
}
.tabs A:hover {
	BACKGROUND-COLOR: rgb(255,128,0); COLOR: rgb(255,255,255)
}
.active {
	BACKGROUND-COLOR: rgb(128,255,0)
}
.topper {
	BORDER-BOTTOM: rgb(153,153,153) 1px solid; BORDER-LEFT: rgb(153,153,153) 1px solid; BACKGROUND-COLOR: rgb(159,149,255); FONT: 11px/11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: rgb(51,51,51); BORDER-TOP: rgb(153,153,153) 1px solid; BORDER-RIGHT: rgb(153,153,153) 1px solid
}
.blue {
	COLOR: blue
}
BODY {
	BACKGROUND-COLOR: rgb(255,255,255); MARGIN-TOP: 0px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; MARGIN-LEFT: 0px; FONT-SIZE: 11px; MARGIN-RIGHT: 0px
}
A:link {
	COLOR: rgb(0,0,255); TEXT-DECORATION: none
}
A:visited {
	COLOR: rgb(0,0,255); TEXT-DECORATION: none
}
A:active {
	COLOR: rgb(255,0,6); TEXT-DECORATION: none
}
A:hover {
	COLOR: rgb(255,96,0); TEXT-DECORATION: underline
}
BIG {
	COLOR: maroon
}
.small {
	FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.medium {
	FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.table {
	BACKGROUND-COLOR: rgb(246,246,246)
}
.orange {
	BACKGROUND-COLOR: rgb(255,255,255); FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: rgb(204,0,0); FONT-SIZE: 11px; FONT-WEIGHT: bold
}
TEXTAREA {
	BORDER-BOTTOM: rgb(153,153,153) 1px solid; BORDER-LEFT: rgb(153,153,153) 1px solid; BACKGROUND-COLOR: rgb(255,255,255); FONT: 11px/11px Verdana, Geneva, Arial, Helvetica, sans-serif; MARGIN-BOTTOM: 11px; COLOR: rgb(51,51,51); OVERFLOW: auto; BORDER-TOP: rgb(153,153,153) 1px solid; BORDER-RIGHT: rgb(153,153,153) 1px solid
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
SELECT {
	BORDER-BOTTOM: rgb(153,153,153) 1px solid; BORDER-LEFT: rgb(153,153,153) 1px solid; BACKGROUND-COLOR: rgb(255,255,255); FONT: 11px/11px Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: rgb(51,51,51); BORDER-TOP: rgb(153,153,153) 1px solid; BORDER-RIGHT: rgb(153,153,153) 1px solid
}
.boldheader {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: rgb(51,51,51); FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.boldheader2 {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: rgb(51,51,51); FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.orangeheader {
	FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: rgb(255,255,255); FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.header {
	LINE-HEIGHT: 11px; FONT-FAMILY: Verdana, Geneva, Arial, Helvetica, sans-serif; COLOR: rgb(51,51,51); FONT-SIZE: 11px; FONT-WEIGHT: bold
}
.text {
	FONT-SIZE: 11px; FONT-WEIGHT: normal
}
.bigtext {
	FONT-FAMILY: 'Times New Roman', Times, serif; FONT-SIZE: 16px; FONT-WEIGHT: normal
}
.message {
	BORDER-BOTTOM: rgb(255,255,255) 1px solid; TEXT-ALIGN: center; BORDER-LEFT: rgb(255,255,255) 1px solid; FONT-SIZE: 13px; BORDER-TOP: rgb(255,255,255) 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: rgb(255,255,255) 1px solid
}
.message A {
	COLOR: yellow; TEXT-DECORATION: underline
}
.message A:active {
	COLOR: rgb(255,255,255); TEXT-DECORATION: underline
}
.message A:hover {
	COLOR: rgb(255,255,255); TEXT-DECORATION: underline
}
#needchangepass {
	TEXT-ALIGN: center; MARGIN-TOP: 4px; FONT-WEIGHT: bold
}
BUTTON {
	BORDER-BOTTOM: gray 1px solid; MIN-WIDTH: 60px; BORDER-LEFT: gray 1px solid; BACKGROUND-COLOR: white; HEIGHT: 25px; BORDER-TOP: gray 1px solid; BORDER-RIGHT: gray 1px solid; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px
}
.prod_click {
	CURSOR: pointer
}
.span_link {
	BORDER-BOTTOM: 1px dashed; CURSOR: pointer
}
#loader {
	BACKGROUND-IMAGE: url(http://monitor.pleer.ru/i/circlepreload.gif); Z-INDEX: 999; POSITION: fixed; WIDTH: 100%; BACKGROUND-POSITION: 50% 50%; HEIGHT: 100%; TOP: 0px; LEFT: 0px
}
#loader DIV {
	POSITION: relative; BACKGROUND-COLOR: silver; WIDTH: 100%; HEIGHT: 100%; TOP: 0px; LEFT: 0px; opacity: 0.5
}
.gc_parent {
	BORDER-BOTTOM: silver 1px solid; BORDER-LEFT: silver 1px solid; MARGIN: 2px; WIDTH: 250px; HEIGHT: 150px; BORDER-TOP: silver 1px solid; BORDER-RIGHT: silver 1px solid; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px
}
.gc_title {
	BORDER-BOTTOM: silver 1px solid; TEXT-ALIGN: center; HEIGHT: 15px; FONT-WEIGHT: bold
}
.gc_messages_box {
	BORDER-BOTTOM: silver 1px solid; OVERFLOW-X: hidden; OVERFLOW-Y: scroll; HEIGHT: 110px
}
.gc_input INPUT {
	MARGIN: 2px 1px; HEIGHT: 16px; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px
}
.gc_input {
	TEXT-ALIGN: center; MARGIN: 0px; HEIGHT: 20px
}
.gc_message_date {
	FLOAT: right; FONT-SIZE: 8px
}
.gc_message_autor:after {
	
}
.gc_message_autor {
	FONT-SIZE: 9px; FONT-WEIGHT: bold
}
.gc_message {
	BORDER-BOTTOM: rgb(173,216,230) 1px solid; BORDER-LEFT: rgb(173,216,230) 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: rgb(173,216,230); MARGIN: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: rgb(173,216,230) 1px solid; BORDER-RIGHT: rgb(173,216,230) 1px solid; PADDING-TOP: 2px; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px
}
.gc_my_message {
	BACKGROUND-COLOR: rgb(135,206,250)
}
.gc_message_text {
	TEXT-ALIGN: left; TEXT-INDENT: 5px; DISPLAY: block; FONT-SIZE: 11px
}
.actprice {
	BORDER-BOTTOM: rgb(255,96,0) 1px dashed; BORDER-LEFT: rgb(255,96,0) 1px dashed; BORDER-TOP: rgb(255,96,0) 1px dashed; BORDER-RIGHT: rgb(255,96,0) 1px dashed
}
.acttopprice {
	BORDER-BOTTOM: rgb(255,96,0) 1px dashed; BORDER-LEFT: rgb(255,96,0) 1px dashed; BORDER-TOP: rgb(255,96,0) 1px dashed; BORDER-RIGHT: rgb(255,96,0) 1px dashed
}
.quckcalcsell {
	BORDER-BOTTOM: rgb(170,170,170) 1px solid; BORDER-LEFT: rgb(170,170,170) 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px 5px 0px 25px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: rgb(170,170,170) 1px solid; BORDER-RIGHT: rgb(170,170,170) 1px solid; PADDING-TOP: 0px; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-right-radius: 3px; border-bottom-left-radius: 3px
}
.del {
	COLOR: red; CURSOR: pointer
}
.center {
	TEXT-ALIGN: center
}
.bold {
	FONT-WEIGHT: bold
}
.float_l {
	FLOAT: left
}
.float_r {
	FLOAT: right
}
.error {
	BORDER-BOTTOM: rgb(255,255,255) 1px solid; TEXT-ALIGN: center; BORDER-LEFT: rgb(255,255,255) 1px solid; BACKGROUND-COLOR: red; COLOR: white; FONT-SIZE: 13px; BORDER-TOP: rgb(255,255,255) 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: rgb(255,255,255) 1px solid
}
.good {
	BORDER-BOTTOM: rgb(255,255,255) 1px solid; TEXT-ALIGN: center; BORDER-LEFT: rgb(255,255,255) 1px solid; BACKGROUND-COLOR: green; COLOR: white; FONT-SIZE: 13px; BORDER-TOP: rgb(255,255,255) 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: rgb(255,255,255) 1px solid
}
.notice {
	BORDER-BOTTOM: rgb(153,153,153) 3px dotted; BORDER-LEFT: rgb(153,153,153) 3px dotted; PADDING-BOTTOM: 10px; MARGIN: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-SIZE: 14px; BORDER-TOP: rgb(153,153,153) 3px dotted; BORDER-RIGHT: rgb(153,153,153) 3px dotted; PADDING-TOP: 10px
}
.tagmenu {
	BORDER-BOTTOM: blue 1px solid; BORDER-LEFT: blue 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; HEIGHT: 20px; BORDER-TOP: blue 1px solid; BORDER-RIGHT: blue 1px solid; PADDING-TOP: 2px
}
.tag {
	DISPLAY: inline-block
}
.tags {
	BORDER-BOTTOM: blue 1px solid; BORDER-LEFT: blue 1px solid; PADDING-BOTTOM: 2px; MARGIN: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; BORDER-TOP: blue 1px solid; BORDER-RIGHT: blue 1px solid; PADDING-TOP: 2px
}
.addtag {
	COLOR: blue; CURSOR: pointer; FONT-WEIGHT: bold; MARGIN-RIGHT: 3px
}
#addtag_menu {
	Z-INDEX: 10; BORDER-BOTTOM: blue 1px solid; POSITION: absolute; BORDER-LEFT: blue 1px solid; PADDING-BOTTOM: 25px; LINE-HEIGHT: 18px; BACKGROUND-COLOR: rgb(255,255,255); PADDING-LEFT: 25px; WIDTH: 200px; PADDING-RIGHT: 25px; DISPLAY: none; BORDER-TOP: blue 1px solid; BORDER-RIGHT: blue 1px solid; PADDING-TOP: 25px
}
.add_menu {
	BORDER-BOTTOM: blue 1px solid; POSITION: absolute; BORDER-LEFT: blue 1px solid; PADDING-BOTTOM: 25px; LINE-HEIGHT: 18px; BACKGROUND-COLOR: rgb(255,255,255); PADDING-LEFT: 25px; WIDTH: 200px; PADDING-RIGHT: 25px; DISPLAY: none; BORDER-TOP: blue 1px solid; BORDER-RIGHT: blue 1px solid; PADDING-TOP: 25px
}
TABLE.tag_editor {
	BORDER-BOTTOM: rgb(168,168,168) 1px solid; TEXT-ALIGN: center; BORDER-LEFT: rgb(168,168,168) 1px solid; BACKGROUND-COLOR: rgb(168,168,168); MARGIN: 0px auto; WIDTH: 500px; BORDER-TOP: rgb(168,168,168) 1px solid; BORDER-RIGHT: rgb(168,168,168) 1px solid
}
.editor_body {
	BORDER-BOTTOM: rgb(168,168,168) 1px solid; TEXT-ALIGN: center; BORDER-LEFT: rgb(168,168,168) 1px solid; BACKGROUND-COLOR: white; MARGIN: 0px auto; WIDTH: 500px; BORDER-TOP: rgb(168,168,168) 1px solid; BORDER-RIGHT: rgb(168,168,168) 1px solid
}
.tag_editor INPUT {
	PADDING-LEFT: 3px
}
.tag_editor TD {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; PADDING-TOP: 8px
}
.tag_editor TR {
	BACKGROUND-COLOR: rgb(242,242,242)
}
.tag_editor TR.form {
	BACKGROUND-COLOR: rgb(255,255,255)
}
.tag_editor TR.form:hover {
	BACKGROUND-COLOR: rgb(242,242,242)
}
.nicetable {
	BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-LEFT: rgb(204,204,204) 1px solid; PADDING-BOTTOM: 0px; MARGIN: 25px auto 0px; PADDING-LEFT: 0px; BORDER-SPACING: 0px; PADDING-RIGHT: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP: rgb(204,204,204) 1px solid; BORDER-RIGHT: rgb(204,204,204) 1px solid; PADDING-TOP: 0px
}
.nicetable TD {
	BORDER-BOTTOM: rgb(204,204,204) 1px solid; BORDER-LEFT: rgb(204,204,204) 1px dashed; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: rgb(204,204,204) 1px solid; BORDER-RIGHT: rgb(204,204,204) 1px dashed; PADDING-TOP: 10px
}
.nicetable TD INPUT {
	CURSOR: pointer
}
.nicetable TR:hover {
	BACKGROUND-COLOR: rgb(242,242,242)
}
.content_nopad {
	POSITION: relative; border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom-right-radius: 15px; border-bottom-left-radius: 15px
}
.contentid1 {
	BORDER-BOTTOM: rgb(218,218,213) 1px solid; BORDER-LEFT: rgb(218,218,213) 1px solid; BACKGROUND-COLOR: rgb(255,255,255); BORDER-TOP: rgb(218,218,213) 1px solid; BORDER-RIGHT: rgb(218,218,213) 1px solid
}
.contentid3 {
	BORDER-BOTTOM: rgb(255,95,0) 1px dotted; BACKGROUND-COLOR: rgb(255,255,255); BORDER-RIGHT: rgb(255,95,0) 1px dotted
}
.block_header_wrap {
	POSITION: relative; TEXT-ALIGN: left; LINE-HEIGHT: 13px; BACKGROUND-COLOR: rgb(241,241,233); WIDTH: 100%; COLOR: rgb(255,255,255); FONT-WEIGHT: normal; border-top-left-radius: 15px; border-top-right-radius: 15px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px
}
.block_header {
	POSITION: relative; PADDING-BOTTOM: 6px; LINE-HEIGHT: 20px; BACKGROUND-COLOR: rgb(255,95,0); PADDING-LEFT: 10px; WIDTH: auto; PADDING-RIGHT: 10px; DISPLAY: inline-block; FONT-SIZE: 18px; PADDING-TOP: 6px; border-top-left-radius: 15px; border-top-right-radius: 0px; border-bottom-right-radius: 15px; border-bottom-left-radius: 0px
}
.v_top {
	VERTICAL-ALIGN: top
}
.text_d {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.cat_title {
	TEXT-ALIGN: center; COLOR: rgb(255,95,0); FONT-SIZE: 20px
}
.back_all {
	BACKGROUND-IMAGE: url(http://static.pleer.ru/i/jqui/ui-bg_dots-small_65_a6a6a6_2x2.png); POSITION: fixed; BACKGROUND-COLOR: rgb(166,166,166); WIDTH: 100%; BACKGROUND-POSITION: 50% 50%; HEIGHT: 100%; TOP: 0px; LEFT: 0px; opacity: 0.4
}
.back_child {
	POSITION: absolute; WIDTH: 100%; PADDING-TOP: 15%; TOP: 0px
}
.catalog_tree {
	MARGIN: 0px; PADDING-LEFT: 20px
}
.catalog_tree A {
	FONT-FAMILY: Verdana; COLOR: rgb(64,64,64); FONT-SIZE: 12px; FONT-WEIGHT: normal; TEXT-DECORATION: none
}
.catalog_tree A:hover {
	COLOR: rgb(127,127,127)
}
.catalog_tree_sub {
	BACKGROUND-IMAGE: url(http://static.pleer.ru/tree_img/subfolder.gif); BACKGROUND-POSITION: 0% 5px
}
.catalog_tree_close {
	BACKGROUND-IMAGE: url(http://static.pleer.ru/tree_img/folder_close.gif); BACKGROUND-POSITION: 0% 5px
}
.catalog_tree_open {
	BACKGROUND-IMAGE: url(http://static.pleer.ru/tree_img/folder_open.gif); BACKGROUND-POSITION: 0% 5px
}
.catalog_tree_unused {
	BACKGROUND-COLOR: rgb(198,255,206)
}
.catalog_tree_actions {
	COLOR: rgb(0,206,27); CURSOR: pointer
}
.catalog_tree_actions:hover {
	COLOR: rgb(0,255,25)
}
.dotted {
	BORDER-BOTTOM: rgb(170,170,170) 1px dotted
}
.dotted_pad {
	PADDING-BOTTOM: 6px; PADDING-TOP: 5px
}
.main_catalog_fix {
	BACKGROUND-COLOR: white; MARGIN-TOP: -5px; WIDTH: 100%; HEIGHT: 10px
}
.add_button {
	PADDING-BOTTOM: 2px; TEXT-TRANSFORM: lowercase; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; COLOR: rgb(0,0,255); MARGIN-LEFT: 10px; CURSOR: pointer; PADDING-TOP: 2px
}
.hide {
	DISPLAY: none
}
.p_sup_last_date_div {
	BACKGROUND-COLOR: rgb(128,255,0); MARGIN: 4px; WIDTH: 25px; FLOAT: left; HEIGHT: 10px; CURSOR: pointer
}
.p_sup_last_date_span {
	MARGIN: 1px; WIDTH: 35px; FONT-FAMILY: Impact; FLOAT: left; HEIGHT: 10px; COLOR: rgb(85,85,85); FONT-SIZE: 13px; CURSOR: pointer
}
.width_40 {
	WIDTH: 40px
}
#oneprodquicksearch {
	BORDER-BOTTOM: rgb(169,169,169) 1px solid; POSITION: absolute; BORDER-LEFT: rgb(169,169,169) 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: white; PADDING-LEFT: 10px; WIDTH: 350px; PADDING-RIGHT: 10px; BORDER-TOP: rgb(169,169,169) 1px solid; RIGHT: 80px; BORDER-RIGHT: rgb(169,169,169) 1px solid; PADDING-TOP: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px
}
#oneprodquicksearch_c TABLE {
	WIDTH: 100%
}
#oneprodquicksearch_c TABLE TD {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; PADDING-TOP: 3px
}
.bggray {
	BACKGROUND-COLOR: silver
}
#img_message_in_hall {
	MARGIN: 0px 5px; FLOAT: left; HEIGHT: 15px; CURSOR: pointer
}
#form_message_in_hall {
	POSITION: absolute; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: rgb(255,255,255); PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: none; PADDING-TOP: 10px; LEFT: 60px
}
#what_is_wrong {
	WIDTH: 370px; HEIGHT: 200px
}
#must_be {
	WIDTH: 370px; HEIGHT: 200px
}
#send_message_in_hall {
	BACKGROUND-COLOR: green; COLOR: rgb(255,255,255); CURSOR: pointer
}
#close_message_in_hall {
	POSITION: absolute; BACKGROUND-COLOR: red; COLOR: rgb(255,255,255); CURSOR: pointer; RIGHT: -60px
}
#success_message_hall {
	POSITION: absolute; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: rgb(255,255,255); PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: none; PADDING-TOP: 10px; LEFT: 60px
}
#success_message_hall H3 {
	COLOR: green
}
