TABLE.trackbar DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE.trackbar TD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE.trackbar {
	BORDER-SPACING: 0px; BORDER-COLLAPSE: collapse
}
TABLE.trackbar IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
DIV.tickdiv {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: none; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
TABLE.trackbar {
	BACKGROUND-IMAGE: url(http://monitor.pleer.ru/i/tb/b_bg_on.gif); WIDTH: 250px; BACKGROUND-POSITION: 0% 0%
}
TABLE.trackbar .l {
	BACKGROUND-IMAGE: url(http://monitor.pleer.ru/i/tb/b_bg_off.gif); TEXT-ALIGN: right; WIDTH: 1%; BACKGROUND-POSITION: 0% 0%; FONT-SIZE: 1px
}
TABLE.trackbar .l DIV {
	Z-INDEX: 500; POSITION: relative; TEXT-ALIGN: right; WIDTH: 0px; WHITE-SPACE: nowrap
}
TABLE.trackbar .l DIV IMG {
	CURSOR: pointer
}
TABLE.trackbar .l DIV SPAN {
	Z-INDEX: 1000; POSITION: absolute; FONT: 11px tahoma; COLOR: rgb(0,0,0); RIGHT: 6px; TOP: -12px
}
TABLE.trackbar .l DIV SPAN.limit {
	Z-INDEX: 100; POSITION: absolute; TEXT-ALIGN: left; FONT: 11px tahoma; COLOR: rgb(208,208,208); RIGHT: 100%; TOP: -12px
}
TABLE.trackbar .r {
	BACKGROUND-IMAGE: url(http://monitor.pleer.ru/i/tb/b_bg_off.gif); TEXT-ALIGN: left; WIDTH: 1%; BACKGROUND-POSITION: 100% 0%; FONT-SIZE: 1px; CURSOR: default
}
TABLE.trackbar .r DIV {
	Z-INDEX: 500; POSITION: relative; TEXT-ALIGN: left; WIDTH: 0px; WHITE-SPACE: nowrap
}
TABLE.trackbar .r DIV IMG {
	CURSOR: pointer
}
TABLE.trackbar .r DIV SPAN {
	Z-INDEX: 1000; POSITION: absolute; FONT: 11px tahoma; COLOR: rgb(0,0,0); TOP: -12px; LEFT: 6px
}
TABLE.trackbar .r DIV SPAN.limit {
	Z-INDEX: 100; POSITION: absolute; FONT: 11px tahoma; COLOR: rgb(208,208,208); TOP: -12px; LEFT: 100%
}
TABLE.trackbar .c {
	WIDTH: 100%; FONT-SIZE: 1px
}
DIV.tickdiv {
	POSITION: relative; MARGIN: 10px 0px; HEIGHT: 1px
}
DIV.tickdiv DIV.tick {
	Z-INDEX: 400; POSITION: absolute; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: rgb(102,102,102); MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 1px; PADDING-RIGHT: 0px; FONT: 10px tahoma; HEIGHT: 12px; COLOR: rgb(102,102,102); PADDING-TOP: 0px; TOP: 13px
}
DIV.tickdiv DIV.tick SPAN {
	POSITION: absolute; TEXT-ALIGN: center; MARGIN-TOP: 14px; WIDTH: 100px; DISPLAY: block; LEFT: -50px
}
DIV.tickdiv DIV.stick {
	POSITION: absolute; PADDING-BOTTOM: 0px; LINE-HEIGHT: 1px; BACKGROUND-COLOR: rgb(153,153,153); MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 1px; PADDING-RIGHT: 0px; HEIGHT: 6px; FONT-SIZE: 1px; PADDING-TOP: 0px; TOP: 16px
}
